<div class="row tabela">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let developer of developers">
                <th scope="row">{{developer?.id}}</th>
                <td>{{developer?.name}}</td>
                <td>
                    <div class="dropdown" style="float: right;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mais opções
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['/curriculo/apresentacao', developer.id]">Editar</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>