<!-- INÍCIO -->
<section class="content-header">
</section>

<section class="content">

    <div class="container-sm">
        <div class="jumbotron welcome-jumbotron">
            <div class="titulo-home">
                <h1>Banco de Talentos - (Developers/Desenvolvedores)</h1>
            </div>
            <div class="btn-group botoes-home d-none d-md-block" role="group">
                <a class="btn btn-primary btn-lg" [routerLink]="['/curriculo/apresentacao']">Cadastre seu Currículo</a>
                <a class="btn btn-primary btn-lg" [routerLink]="['/candidatos']">Candidatos</a>
            </div>

            <div class="btn-group-vertical d-block d-sm-none" role="group">
                <a class="btn btn-primary btn-lg" [routerLink]="['/curriculo/apresentacao']">Cadastre seu Currículo</a>
                <a class="btn btn-primary btn-lg" [routerLink]="['/candidatos']">Candidatos</a>
            </div>

        </div>
    </div>
</section>
<!-- FIM -->